*.xml
*.d
*.so
*.pcm
*.root
*.sh
*.jdl
*.pdf
myAnalysis.C
myTask_merge.C
18CWholeV0/
18CWholeV0/*
.DS_Store
fitJpsi/analyzeOfLucrezia.C
fitJpsi/exampleFit.C
fitJpsi/fitJpsi_v2.C
fitJpsi/fitJpsi_sys_TESTBKG.C
fitJpsi/testProjection.C
fitJpsiBKP/
fitJpsiBKP/*
ReadingTree/18d/
